<ol class="p_breadcrumb breadcrumb">
        <li class="breadcrumb-item h6"><a href="/">Home</a></li>
        <li class="breadcrumb-item active h6">{{category}}</li>
</ol>
<hr>

<div id="search-container" class="container-fluid">
    <div class="row justify-content-center">
        {{#each products}}
        <div class="card col-lg-2 col-md-3 col-sm-6 product-card p-30">
            <div class="image-card" style="height:100%; width:100%; display:flex; align-items:center;" >
                <img class="card-img-top" alt="Card image cap" src="/images/products/{{this.Artigo}}.jpg">
            </div>

            <div class="card-body product" >
                <h5 class="card-title font-weight-bold">{{this.Descricao}}</h5>
                <p class="card-text" style="height:-20px;">{{this.PVP1}}€</p>
                <hr>
                <div class="card-btn">
                    <button id="cart" type="button" class="btn btn-outline-success btn-block mb-2">
                        <i class="fa fa-shopping-cart"></i> Add to Cart
                    </button>
                    <a href="/product/page/?productID={{this.Artigo}}" class="btn btn-outline-dark btn-block">
                        See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
