<div class="container adminContainer">
    
    <div class="row">
        
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-user-pic">
                    <img src="/images/default.png" alt="" class="img-fluid">
                </div>
                <div class="profile-user-name">
                    {{order.NomeFac}}
                </div>
                <div class="profile-user-menu">
                    <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <li><a  href="/user/profile/{{user.id}}/#overview"><i class="fa fa-user"></i>Overview</a></li>
                        <li class="active"><a data-toggle="pill" href=""><i class="fa fa-history"></i>History </a></li>
                        <li><a   href="/user/profile/{{user.id}}/#settings"><i class="fa fa-cogs"></i>Settings </a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="profile-tabs tabs-content col-md-9">
            
           
                <div class="container-fluid">
                    <div class="card fav-cart">
                        <div class="card-header bg-dark text-light">Order</div>
                        <div class="card-body">
                            <h5><strong>Products</strong></h5>
                            <div class="product-conf" data-id="2">
                                <h6><strong>Name:</strong> MacBook Pro</h6>
                                <h6 class="qty"><strong>Quantity:</strong>  1</h6>
                                <h6><strong>Price:</strong>  1832.99 €</h6>
                                <br>
                            </div>
                            <div class="product-conf" data-id="8">
                                <h6><strong>Name:</strong> Portátil Híbrido 14' HP Pavilion X360 14</h6>
                                <h6 class="qty"><strong>Quantity:</strong>  2</h6>
                                <h6><strong>Price:</strong>  849.99 €</h6>
                                <br>
                            </div>
                            <div class="product-conf" data-id="3">
                                <h6><strong>Name:</strong> Huawei P20 Pro</h6>
                                <h6 class="qty"><strong>Quantity:</strong>  1</h6>
                                <h6><strong>Price:</strong>  788.99 €</h6>
                                <br>
                            </div>
                            <hr>

                            <h5><strong>Expedition Info</strong></h5>
                            <h6><strong>Address: </strong> <span id="address-conf"></span>{{order.MoradaEntrega}}</h6>
                            <h6><strong>Tax Identification Number: </strong> <span id="contact-conf">{{order.NumContribuinte}}</span></h6>
                            <h6><strong>Payment Method: </strong> <span id="payment-conf">{{order.ModPag}}</span></h6>
                            <hr>

                            <h6 class="float-right"><strong>Total:</strong> <span>{{order.TotalDocumento}}</span> €</h6>

                        </div>
                    </div>
                </div>
           
		</div>
	</div>
</div>