  <ol class="p_breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/catalog/{{Descricao2}}">{{Descricao2}}</a></li>
    <li class="breadcrumb-item active">Product</li>
  </ol>
  <hr>

  <div class="container-fluid product-section">

	{{#if Artigo}}
	<div class="row">
		<div class="col-md-6 text-center">
			<img class="product-image" alt="product preview" src="/images/products/{{Artigo}}.png" />

		<div class="row">
			<div class="col-md-12">
			<div class="rating-block">
				<h2 class="bold padding-bottom-7">{{Peso}} <small>/ 5</small></h2>
				<button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>			
				<button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
				<button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
				<button type="button" class="btn btn-dark  btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
				<button type="button" class="btn btn-dark btn-grey btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-6" id="description-box">
			<h3 class="text" id="product-name-details"><strong>{{ Descricao }}</strong></h3>
			<h6>{{Descricao1}}</h6>
			<h4 class="text-success" id="price-tag">{{ PVP1 }} €</h4>

			<div class="row">
				<div class="col-md-12 ">

					<div class="product-buttons">
						<button type="button" class="btn btn-outline-success">
							<i class="fa fa-shopping-cart"></i> Add to Cart
						</button>
						<button type="button" class="btn btn-outline-danger">
							<i class="fa fa-heart"></i> Add to Favorites
						</button>
					</div>

					<p><span class="description-tag">Description</span></p>
					<p>
						{{Observacoes}}
					</p>
				</div>
			</div>
        <br><br><br><br>

		</div>
	</div>
	{{else}}
		<h4>Product not found</h4>
	{{/if}}
</div>
