  <ol class="p_breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item"><a href="catalog.html">Catalog</a></li>
    <li class="breadcrumb-item active">Product</li>
  </ol>
  <hr>

  <div class="container-fluid product-section">

	{{#if Artigo}}
	<div class="row">
		<div class="col-md-6 text-center">
			<img class="product-image" alt="product preview" src="/images/products/{{Artigo}}.jpg" />

		<div class="row">
			<div class="col-md-12">
			<div class="rating-block">
				<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
				<button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
				<button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
				<button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
				<button type="button" class="btn btn-dark  btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
				<button type="button" class="btn btn-dark btn-grey btn-sm" aria-label="Left Align" disabled>
					<i class="fa fa-star"></i>
				</button>
			</div>
			</div>
		</div>
		</div>
		<div class="col-md-6" id="description-box">
			<h4 class="text" id="product-name-details">{{ Descricao }}</h4>
			<h6>{{Marca}}</h6>
			<h3 class="text-success" id="price-tag">{{ PVP1 }} €</h3>

			<div class="row">
				<div class="col-md-12 ">

					<div class="product-buttons">
						<button type="button" class="btn btn-outline-success">
							<i class="fa fa-shopping-cart"></i> Add to Cart
						</button>
						<button type="button" class="btn btn-outline-danger">
							<i class="fa fa-heart"></i> Add to Favorites
						</button>
					</div>

					<p><span class="description-tag">Description</span></p>
					<p>
						smartphone with 256 GB storage capacity and 5.8 "Super Retina display (2436 x 1125 pixels at 458 dpi),
						with contrast ratio of 1000000: 1;
						resistant to water and dust; Face ID;
						Bionic A11 processor with 64-bit architecture; wireless charging;
						12MP wide-angle and telephoto cameras and TrueDepth camera;
						4K video recording at 24, 30 or 60 fps; Talk time (wireless) up to 21 hours.
					</p>
				</div>
			</div>
        <br><br><br><br>

		</div>
	</div>
	{{else}}
		<h4>Product not found</h4>
	{{/if}}
</div>
